.contact-bg{
    background-size: 100% 89.1%;
    background-position: top;
}


#contact-form-section {
  padding: 10em 0 6em;
}


.contact-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.contact-form {
  max-width: 780px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 26px;
  font-family: 'Noto Sans JP', sans-serif;
}


.form-label {
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
  color: #444;
  padding-bottom: 30px;

}

.label-text {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.125rem;
  margin-bottom: 5px;
  padding-left: 5px;
}

.required {
  color: red;
  font-size: 0.85rem;
  padding-top: 7px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
}

.contact-form textarea {
  resize: vertical;
}

.agree-box {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  text-align: center;
}

.agree-box a {
  text-decoration: underline;
  color: #444;
}

.agree-box a:hover {
  text-decoration: underline;
  color: #4BB3C4;
  transition: all 0.3s ease;
}


.agree-box label {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    font-size: 18px;
}


.agree-box label input{
  transform: scale(1.5);
}

.submit-button {
  margin-top: 20px;
  text-align: center;
  display: flex;
  gap: 21px;
  justify-content: center;
}

.submit-button button {
    font-size: 1.25rem;
    padding: 15px 55px;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    margin-top:0;
    background-color: #ffffff;
}

.submit-button button:hover {
  background-color: #ffffff;
  border-radius: 999px;
  transition: all 0.3s ease;
  padding: 20px 60px;
}


.btn-view-more::before, .btn-contact::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid #4BB3C4;
    border-radius: 30px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    z-index: -1;
    padding: 20px 60px;
    border-radius: 999px;
}


.contact-form select {
  padding:14px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  background-color: #fff;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg width='14' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l6 6 6-6' stroke='%23333' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px;
  width: 100%;
  box-sizing: border-box;
}

.contact-form select:focus {
  outline: none;
  border-color: #4BB3C4;
  box-shadow: 0 0 0 2px rgba(75, 179, 196, 0.2);
}


.form-label input:focus,
.form-label select:focus,
.form-label textarea:focus {
  border-color: #4BB3C4; /* 강조 컬러 */
  box-shadow: 0 0 0 2px rgba(75, 179, 196, 0.2);
  outline: none;
}



.form-steps {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* 모바일 대응 */
  gap: 12px;
  margin-bottom: 50px;
  font-family: 'Noto Sans JP', sans-serif;
}

.step {
  padding: 8px 30px;
  border-radius: 999px;
  background-color: #fff;
  color: #666;
  font-size: 0.95rem;
  font-weight: 500;
  white-space: nowrap;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid #dfdfdf;
}

.step.active {
  background-color: #444;
  color: #fff;
}

.step-divider {
  width: 40px;
  height: 1px;
  background-color: #ccc;
}










/*  ✅ contact-confirm start   */


.confirm-text {
  padding: 12px 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  font-size: 1rem;
  color: #444;
  border: 1px solid #ddd;
}

/*   contact-comfirm end   */





/*  ✅ contact-thanks start   */

.thanks-message-box {
  text-align: center;
  max-width: 780px;
  margin: 0 auto;
  padding: 80px 20px;
  font-family: 'Noto Sans JP', sans-serif;
}

.thanks-title {
  font-size: 2rem;
  font-weight: bold;
  color: #444;
  margin-bottom: 2rem;
}

.thanks-text {
  font-size: 1.1rem;
  color: #444;
  line-height: 2;
  margin-bottom: 3rem;
}

.thanks-button-area {
  display: flex;
  justify-content: center;
}


.btn-view-more, .btn-{
  margin-top: 0;
  padding: 12px 60px;
}

.thanks-message-box{
  padding: 60px 20px 30px;
}


/*   contact-thanks end   */




/* ✅ 레스폰시브 대응 */
@media (max-width: 640px) {



  #contact-form-section{
    padding: 3.5rem 1.25rem 4rem;
  }

  .contact-form {
    padding: 0 8px;
    gap: 20px;
  }

  .label-text {
    font-size: 0.9rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.95rem;
    padding: 10px;
  }

  .submit-button button {
    font-size: 0.95rem;
    padding: 12px 28px;
  }


  .form-steps {
    gap: 6px; 
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 34px;
    margin-top: 10px;
  }

  .step {
    padding: 6px 16px;
    font-size: 0.8rem;
  }

  .step-divider {
    width: 20px;
  }

  .agree-box p{
    font-size: 0.9rem;
  }

  .agree-box label{
    font-size: 0.9rem;
  }

  .agree-box label input {
    transform: scale(1.3);
}



.thanks-message-box{
  padding: 0;
}


.btn-view-more, .btn-contact{
  margin-top: 0;
}

.agree-box{
  letter-spacing: -1px;
}

.thanks-title{
  font-size: 1.7rem;
}

.thanks-text{
  font-size: 0.95rem;
}

.submit-button button:hover{
  padding: 12px 28px;
}


  
}








